<%= render 'shared/subheader', headline: 'Participantes', levels: ['Anjos do Superação, Participantes'] %>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-10">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Criar Participante</h5></div>
        <div class="ibox-content">
          <%= simple_form_for @participant, url: participants_path,
              html: {class: 'form-horizontal', id: 'new_participant'}, wrapper: :horizontal_form,
              wrapper_mappings: {
                check_boxes: :horizontal_radio_and_checkboxes,
                radio_buttons: :horizontal_radio_and_checkboxes,
                file: :horizontal_file_input,
                boolean: :horizontal_boolean
              } do |f| %>

          <%= f.input :type,
                       as: :radio_buttons,
                       collection: [['Superador','Overcomer'], ['Anjo','Angel'], ['Arcanjo','Archangel']],
                       item_wrapper_class: 'checkbox-inline', required: true %>
          <div class="hr-line-dashed"></div>
          <%= f.input :pacient, as: :radio_buttons, item_wrapper_class: 'checkbox-inline' %>
          <div class="hr-line-dashed"></div>

          <div id="participant_family">
            <%= f.input :family_member %>
            <div class="hr-line-dashed"></div>
          </div>

          <%= f.simple_fields_for :participant_profile do |pf| %>
            <%= pf.input :genre  %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :first_name  %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :last_name  %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :email  %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :occupation  %>
            <div class="hr-line-dashed"></div>
            <div class="row form-group">
              <div class="col-sm-2  control-label">
                <%=pf.label(:brithdate, "Data de Nascimento", class: "control-label")%>
              </div>
              <div class="col-sm-4">
                <%=pf.date_field(:birthdate, class: "form-control", :required => true)%>
              </div>
              <div class="col-sm-2  control-label">
                <%=pf.label(:genre, "Gênero", class: "control-label")%>
              </div>
              <div class="col-sm-4">
                <%=pf.date_field(:birthdate, class: "form-control", :required => true)%>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row form-group">
              <div class="col-sm-2  control-label">
                <%=pf.label :city %>
              </div>
              <div class="col-sm-3">
                <%=pf.input_field :city, class: "form-control" %>
              </div>
              <div class="col-sm-2  control-label">
                <%=pf.label :state %>
              </div>
              <div class="col-sm-1">
                <%=pf.input_field :state, class: "form-control" %>
              </div>
              <div class="col-sm-2  control-label">
                <%=pf.label :country %>
              </div>
              <div class="col-sm-2">
                <%=pf.input_field :country, class: "form-control" %>
              </div>

            </div>
            <div class="hr-line-dashed"></div>
            <%=pf.input :relationship %>
            <div class="hr-line-dashed"></div>
            <%=pf.input :sons %>
            <div class="hr-line-dashed"></div>
            <%=pf.input :facebook %>
            <%=pf.input :instagram %>
            <%=pf.input :whatsapp %>
            <%=pf.input :youtube %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :belief %>
            <div class="hr-line-dashed"></div>
            <%= pf.input :healing_quote %>
            <div class="hr-line-dashed"></div>
            <%= f.input :cancer_status, as: :radio_buttons, item_wrapper_class: 'checkbox-inline' %>
            <% end %>
            <div class="hr-line-dashed"></div>
            <div class="row form-group">
              <div class="col-sm-12">
                <%= f.submit "Salvar participante", :class =>"btn btn-primary"%>
                <%= button_tag "Limpar dados", type: :reset, :class =>"btn btn-white" %>
              </div>
            </div>
          <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
