<%= render 'shared/subheader', headline: 'Participantes', levels: ['Anjos do Superação, Participantes'] %>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">

  <div class="col-lg-12">
  <div class="ibox float-e-margins">
  <div class="ibox-title">
      <h5>Lista de participantes</h5>
      <div class="ibox-tools">
        <%= link_to '<i class="fa fa-plus"></i> Criar Participante'.html_safe,
                    new_participant_path,
                    class: 'btn btn-default btn-sm' %>
      </div>
  </div>
  <div class="ibox-content">
      <div class="row">
          <div class="col-sm-8 m-b-xs">
            <%= filters %>
          </div>
          <div class="col-sm-4">
            <%= form_tag "/participants", method: "get" do %>
              <div class="input-group">
                <%= hidden_field_tag(:type, params[:type]) if params[:type] %>
                <%= text_field_tag :name, nil, placeholder: "Nome", class: "input-sm form-control"%>
                <span class="input-group-btn"><%= submit_tag "Buscar", class: "btn btn-sm btn-primary"%></span>
              </div>
            <%end%>
          </div>
      </div>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
              <tr>
                  <th> </th>
                  <th> </th>
                  <th style="width:50%">Nome </th>
                  <th style="width:30%">Cidade/Estado </th>
                  <th>Trios </th>
                  <th>Missões </th>
              </tr>
              </thead>
              <tbody>
              <%
              @participants.each do |p|
                 %>
              <tr>
                  <td>
                      <span class="label label-default"><%= type_label(p.type) %></span>
                  </td>
                  <td class="project-people">
                    <%= link_to image_tag('a3.jpg', class: 'img-circle'), participant_path(p) %>
                  </td>
                  <td class="project-title">
                      <%= link_to p.profile.first_name, participant_path(p) %>
                      <br/>
                      <small>Desde <%= p.created_at.strftime("%d/%m/%Y") %></small>
                  </td>
                  <td>
                    <%= "#{p.profile.city}, #{p.profile.state}" if p.profile  %>
                  </td>
                  <td style="text-align:center">
                    <%=p.trinities.count %>
                  </td>
                  <td style="text-align:center">
                    <span class="badge badge-<%= missions_alert_level(p.missions.count)%>"><%=p.missions.count %></span>
                  </td>
              </tr>
              <% end %>
            </tbody>
        </table>

        <%= paginate @participants %>
    </div>

</div>
</div>
</div>
</div>



</div>
